script(type="text/html", id="clients_tmpl").
    .container
        .mailbox
            h3 Register New Client

            form.form.form-horizontal(method="post",
                data-bind="attr: {action: $root.postNewClientUrl}")
                input(type="hidden", name="_csrf", value="#{csrf_token}")

                .control-group
                    label.control-label Client Name
                    .controls
                        input(type="text", name="appName", placeholder="name")

                .control-group
                    label.control-label Url (Optional)
                    .controls
                        input(type="text", name="appUrl", placeholder="Url address")

                .control-group
                    .controls
                        button.btn.btn-primary(type="submit") Register client

    .container(data-bind="foreach: clients")
        div.row.mailbox
            .well.pull-left(data-bind="css: qrcode")

            h3
                i.icon-user
                span(data-bind="text: appName")
            p
                a.label.label-warning client id
                span(style="word-wrap: break-word",
                    data-bind="text: clientId")
            p
                a.label.label-warning client secret
                span(style="word-wrap: break-word",
                    data-bind="text: clientSecret")

            p(data-bind="visible: 'accessToken' in $data")
                a.label.label-warning access token
                span(style="word-wrap: break-word",
                    data-bind="text: $data.accessToken || ''")


            a.btn.btn-primary.btn-small.pull-right(data-bind="click: deleteAction") delete client
