script(type="text/html", id="foods_tmpl").
    #js-food-details.modal.fade.hide
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3 Details

        .modal-body
            .thumbnail(data-bind="with: selectedFood")
                input(type="hidden", name="_csrf", value="#{csrf_token}")
                img(data-bind="attr: {src: thumbs()[0]}")
                ul.inline
                    li: h3.editable(data-name="name.en", data-bind="editable: name.en")
                    li.editable(data-name="name.zh", data-bind='editable: name.zh')
                ul.inline
                    li Price
                    li.editable.label(data-name="price", data-bind="editable: price")
                ul.inline
                    li MemberPrice
                    li.editable.label(data-name="memberPrice", data-bind="editable: memberPrice")
                ul.inline
                    li Category
                    li.editable.label(data-name="category", data-bind="editable: category")
                ul.inline
                    li Unit
                    li.editable.label(data-name="unit", data-bind="editable: unit")

                article.editable(data-name="description.en",
                    data-bind="editable: description.en, editableOptions: {type: 'textarea'}")
                article.editable(data-name="description.zh",
                    data-bind="editable: description.zh, editableOptions: {type: 'textarea'}")

        .modal-footer
            a.pull-left.btn.btn-warning(href="#", data-dismiss="modal") Delete
            a#close.btn.btn-primary(href="#", data-dismiss="modal") Close

    .container.row-fluid
        div(data-bind="foreach: foods")
            .media
                a(href="#", data-bind='click: $root.selectFood',
                    data-target="#js-food-details", data-toggle="modal")
                    img.pull-left(data-bind="attr: {src: thumbs()[2]}")
                .media-body
                    a(href="#", data-bind='click: $root.selectFood',
                        data-target="#js-food-details", data-toggle="modal")
                        p(data-bind="text: name.en")
                        p(data-bind="text: name.zh")

    .buttons
        p: a.btn.btn-primary(data-bind="attr: {href: newFoodUrl}") New Food
