extends ../layout

block content
    .signin-container
        if (typeof errors != 'undefined') && errors.length 
            .alert 
                button.close(type="button", data-dismiss="alert") x
                - var msg = ''
                - for e in errors
                    - msg += ' ' + e
                strong Errors #{msg}
                
    
        form.well.form-horizontal#js-user-signin(action="/users/signin", method="post")
            input(type="hidden", name="_csrf", value=csrf_token)
            .control-group
                label.control-label(for="inputUsername") Username
                .controls
                    input#inputUsername(type="text", name=everyauth.password.loginFormFieldName,
                        placeholder="username")
    
            .control-group
                label.control-label(for="inputPassword") Password
                .controls
                    input#inputPassword(type="password", name=everyauth.password.passwordFormFieldName,
                    placeholder="Password")
    
            .control-group
                 .controls
                     label.checkbox
                         input(type="checkbox")
                         | Remember me
                     
                     button.btn.btn-primary(type="submit") Sign in


        a.btn.btn-primary(href="/users/signup") Need an account?             