doctype 5
html
    head
        title Foods Play
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(type="text/javascript", src="/jquery.js")
        script(type="text/javascript", src="/jade.js")
        script(type="text/javascript", src="/bootstrap/js/bootstrap.js")

body
    .container-fluid
        .signin-container
            if (typeof errors != 'undefined') && errors.length
                .alert
                    button.close(type="button", data-dismiss="alert") x
                    - var msg = ''
                    - for e in errors
                        - msg += ' ' + e
                    strong Errors #{msg}


            form.mailbox.form-horizontal#js-user-signin(action="/users/signin", method="post")
                input(type="hidden", name="_csrf", value=csrf_token)
                //- 0 is for web login, 1 is for pad login
                input(type="hidden", name="device", value=0)
                .control-group
                    label.control-label(for="inputUsername") Username
                    .controls
                        input#inputUsername(type="text", name=everyauth.password.loginFormFieldName,
                            placeholder="username")

                .control-group
                    label.control-label(for="inputPassword") Password
                    .controls
                        input#inputPassword(type="password", name=everyauth.password.passwordFormFieldName,
                        placeholder="Password")

                .control-group
                     .controls
                         label.checkbox
                             input(type="checkbox", name="persistant")
                             | Remember me

                         button.btn.btn-primary(type="submit") Sign in

            a.btn.btn-primary(href="/users/signup") Need an account?